body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */

.HeaderSection {
    flex-direction: row;
    display: flex;
    padding: 0;
}

header {
    width: 100%;
}

.HeaderLogo {
    width: 50%;
    padding: 8px;
    padding-left: 20px;
}

.MainNavigation {
    width: 50%;
}

div#collapsibleNavbar {
    justify-content: flex-end;
}

nav.navbar.navbar-expand-sm {
    padding: 0;
}

.nav-link {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
}

.nav-link:hover {
    color: grey;
    transition: 1s;
}

nav.navbar.navbar-expand-sm {
    padding: 10px 0px 0;
}


/* Background Home */

.BackgroundHome {
    background-image: url('../img/background.jpg');
    position: relative;
    top: -60px;
    padding: 18% 0;
    z-index: -1;
}

.BackgroundHomeTitle h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.BackgroundHomeTitle p {
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 25px 0;
}

.BackgroundHomeButton {
    text-align: center;
    margin: 45px 0 0 0;
}

.BackgroundHomeButton button {
    font-size: 12px;
    padding: 20px 30px;
    text-transform: uppercase;
    background: #e84545;
    border: 0;
    color: white;
}


/* Background Work */

section.BackgroundWork {
    padding: 60px 0;
}

#Grid-center {
    justify-content: center;
    padding-bottom: 20px;
}

.GridBox {
    text-align: center;
}

.GridBox h5 {
    margin: 30px 0 18px;
    text-transform: uppercase;
}

.GridBox p {
    font-size: 13px;
}


/* Project Wallpaper */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    height: 33vh;
}

.grid-item img {
    width: 80%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

.grid-item img:hover {
    opacity: 0.5;
}

.grid-item a {
    text-decoration: none;
}

.centered {
    opacity: 0;
    position: relative;
    top: -100%;
    display: flex;
    color: white;
    justify-content: center;
    height: 32.8vh;
    align-items: center;
}

.centered:hover {
    opacity: 1;
    color: white;
    background-color: #dc4544;
}


/* People Lists */

.PeopleLists {
    padding: 60px 0px;
    text-align: center !important;
}

.PeopleListsBox {
    padding: 0px 30px 20px;
}

.PeopleListsBox img {
    width: 270px;
    height: auto;
    max-width: 100%;
}

.PeopleListsBox h6 {
    margin: 30px 0 10px;
    text-align: left;
}

.PeopleListsBox p {
    text-align: left;
    font-size: 16px;
    color: #dc4544;
}

.PeopleListsBox p:nth-child(4) {
    color: black;
}

.socialMediaLists {
    text-align: left;
}

.socialMediaLists a {
    text-decoration: none;
    padding: 13px;
    border: 1px solid #c6cacc;
    color: #c6cacc;
}

.socialMediaLists a:hover {
    color: #0d6efd;
    background-color: #c6cacc;
    transition: 1s;
}

#Grid-Two {
    grid-template-columns: auto auto;
}

.socialMediaLists a:nth-child(1) {
    padding: 13px 17px;
}


/* Testimonial */

.testimonialSlider .container-fluid {
    padding: 0;
}

.testimonial-box {
    width: 100%;
    background: #53354a;
    margin: 0 auto;
    padding: 12px 0;
    padding: 70px;
    color: white;
}


/* Location Page */

section.LocationPage {
    background: #3a3e64;
    padding: 60px 0 60px;
}

.BoxOne {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.BoxOne h6 {
    color: white;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

.BoxOne p {
    font-size: 16px;
    color: #c6cacc;
}

.socialMediaBox a {
    text-decoration: none;
    padding: 8px;
    border: 1px solid #c6cacc;
    color: #c6cacc;
}

.socialMediaBox a:hover {
    background: #c6cacc;
    color: #3a4e64;
}

.socialMediaBox a:nth-child(1) {
    padding: 8px 12px;
}

.BoxOne:nth-child(3) {
    width: 20%;
}


/* Footer */

footer {
    padding: 40px 0;
    background: #313454;
}

footer p {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 8px;
}


/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    header {
        background: #53354a;
        padding: 13px 0;
    }
    .HeaderLogo,
    .MainNavigation {
        width: 100%;
    }
    .BackgroundHome {
        position: relative;
        padding: 50% 0px;
    }
    section.BackgroundWork {
        padding: 0px 0;
    }
    .testimonial-box {
        font-size: 12px;
        padding: 8px;
    }
    .testimonial-box h3 {
        font-size: 13px;
    }
    .grid-container {
        grid-template-columns: auto;
    }
    #Grid-Two {
        grid-template-columns: auto;
    }
    .socialMediaLists {
        text-align: center;
    }
    .BoxOne h6 {
        margin-bottom: 1rem;
    }
    .BoxOne {
        margin-bottom: 20px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .BackgroundHome {
        top: -78px;
    }
    .socialMediaLists {
        display: flex;
    }
    .socialMediaLists a {
        padding: 8px;
    }
    .socialMediaLists a:nth-child(1) {
        padding: 8px;
    }
    .socialMediaBox {
        display: flex;
    }
}